body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f4f6;;

}


.game-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


h1 {
  font-size: 30px;
  color: #0094D8;

}

#info{

  font-family: Arial;
  text-align: center;
  font-size: 15px;
  color: gray;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 12px;
  background-color: #0094D8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2b6cb0;
}