/*Setting the general format of the page;
backgroud and margin guidelines*/

body {
	background-color: #FFF5E1;
	margin: 100px 25% 75px;
}

/*Heading 2 format put in a class to easily apply to all h2*/

h2 {
	font-family: headingTwo;
	font-size: 35px;
}

/*Paragraph text format*/

.pText {
	font-family: paraText;
	font-size: 15px;
	padding-top: 20px;
	line-height: 2;
}

/*Google fonts used within the document*/

@font-face {
	font-family: "headingOne";
	src: url(fonts/gotuFont.ttf);

}

@font-face {
 	font-family: "headingTwo";
 	src: url(fonts/aboretoFont.ttf);
 }

@font-face {
	font-family: "paraText";
	src: url(fonts/golosFont.ttf);
}

/*Used to bring the two title headings closer together*/

.titleMargin {
	margin-top: -35px;
}

.iconSize {
	width: 3%;
	height: 3%;
}

.iconText{
	font-family: paraText;
	font-size: 20px;
	display: inline-block;
	position: relative;
	bottom: 5px;
}

/*Moving the position of the heading texts within the recipe content to
give the appearance of line(border) being beside it for stylistic purposes
*/
.recipeHeading {
	position: relative;
	bottom: -17px;
	background: #FFF5E1;
	padding-right: 10px;
	margin: 0;
	display: inline-block;
	font-family: headingTwo;
	font-size: 35px;
}

div.border {
	border-bottom: 1px solid #000;
}

/*List formatting*/

ul {
	font-family: paraText;
	font-size: 15px;
	padding-top: 20px;
	line-height: 2.5;
	list-style-type: square;
}

ol {
	font-family: paraText;
	font-size: 15px;
	padding-top: 20px;
	line-height: 2.5;
	list-style-position: outside;
}

img {
	width: 50%;
	height: 50%;
}